<div class = "main mt-5">
  <div class = "container d-flex align-items-center justify-content-center">  
    <div class = "mx-20 p-5 border" style= "with: 500px;" >  
      <h3 class= "field mb-4" >ログイン</h3>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field mb-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"form-control" %>
          </div>

          <div class="field mb-3">
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field mb-3">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions mb-3">
            <%= f.submit "ログイン", class:"btn btn-primary btn-block" %>
          </div>
        <% end %>
        
        <div class="lender_link mb-3 btn-block">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>
