<div class = "wrapper"> 
  <div class = "room_show">
    <div class = image >
      <%= attachment_image_tag @room, :room_image,class:"show_img" %>
    </div>

    <div class = "show_list">
      <div class = "user_info" >
        a
        <%#登録したユーザー名表示%>
        <%= @room.user.user_name %>
      </div>
      <div class = "room_name_add">
        <%= @room.room_name %>
        <%= @room.address %>
      </div>
      <div class = "room_intro">
        <%= simple_format @room.room_introduction %>
      </div>
    </div>

    <%#登録したユーザーのみ編集ボタン表示%>
    <% if @room.user.id == current_user.id %>
      <%= link_to "編集", edit_room_path(@room) , class: "button" %>
    <% end %>
    <%#= link_to "削除", room_path(room), method: :delete , date: {confirm: "削除しますか？"} %>
  </div>

  <div class = "reservation">

  </div>


</div>
