<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if flash[:notice] %>
        <div class="notification">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      
      <% if flash[:alert] %>
        <div class="notification">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>  
    <header class = "bg-primar">
        <h1>佐古</h1>

    

        <nav class="navbar fixed-top navbar-light bg-light">
          <%= link_to root_path do %>
            <h1 class= "navbar-brand " >旅の宿</h1>
          <% end %>

          <div>
            <%= search_form_for @q, url: search_rooms_path,class:"form-inline " do |f| %>
            <%= f.search_field :address_cont, placeholder: "エリア", class:"form-control mr-sm-2" %>
            <%= f.search_field :room_name_or_room_introduction_or_address_cont, placeholder: "キーワード検索" , class:"form-control mr-sm-2" %>
            <br>
            <%= f.submit '検索' ,class:"btn btn-outline-success my-2 my-sm-0"%>
            <% end %>
          </div>
          
          <div class="col-sm-6" style="text-align:right">
            <% if user_signed_in? %>
              <h5 class = "menu-li" ><%= current_user.user_name %></h5>
              <div class = "menu-li" >
                <%= attachment_image_tag @user,:profile_image, class:"profile-img" %>
              </div>

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button"><%= link_to "部屋を登録", new_room_path, class:"menu_btn" %></button>
                  <button class="dropdown-item" type="button"><%= link_to "登録した部屋一覧", rooms_path, class:"menu_btn" %></button>
                  <button class="dropdown-item" type="button"><%= link_to "予約済み一覧", bookings_path, class:"menu_btn"  %></button>
                  <button class="dropdown-item" type="button"><%= link_to "マイページ", user_path(current_user), class:"menu_btn" %></button>
                  <button class="dropdown-item" type="button"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu_btn" %></button>
                </div>
            <% else %> 
              <ul class = "menu-ul">
                <li class = "btn btn-danger"><%= link_to "ログイン", new_user_session_path, class: "login_btn text-light" %></li>
                <li class = "btn btn-info"><%= link_to "新規登録", new_user_registration_path, class: "new_btn text-light" %></li>
              </ul>
            <% end %>
          </div>
        </nav>
    </header>
      <%= yield %>

      <footer class = "bg-secondary text-center text-light p-5 mt-5">
        © 2022 sako.INC.
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
