<!DOCTYPE html>
<html>
  <head>
    <title>Reservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "wrapper">
      <% if flash[:notice] %>
        <div class="notification">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      
      <% if flash[:alert] %>
        <div class="notification">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>  

      <header>
        <%= link_to root_path, class: "navbar-title" do %>
          <h1 class= "title" >旅の宿</h1>
        <% end %>
        
        <div class = "menu">
          <% if user_signed_in? %>
            <ul class = "menu-ul">
              <li class = "menu-li" ><%= link_to "部屋を登録", new_room_path, class:"menu_btn" %></li>
              <li class = "menu-li" ><%= link_to "登録した部屋一覧", rooms_path, class:"menu_btn" %></li>
              <li class = "menu-li" ><%= link_to "予約済み一覧", bookings_path, class:"menu_btn"  %></li>
              <li class = "menu-li" ><%#= link_to "ユーザー詳細",  users_show_path, class:"nonline" %></li>
              <li class = "menu-li" ><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu_btn" %> </li>
            </ul>
          <% else %> 
            <ul class = "menu-ul">
              <li class = "menu-li"><%= link_to "ログイン", new_user_session_path, class: "login_btn" %></li>
              <li class = "menu-li"><%= link_to "新規登録", new_user_registration_path, class: "new_btn" %></li>
            </ul>
          <% end %>
        </div>
      </header>
      <%= yield %>

      <footer>
        <p class="footer_letter">© 2022 sako.INC.</p>
      </footer>
    </div>
  </body>
</html>
